<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Content Page Left Nav</Name>
  <Alias>ContentPageLeftNav</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Global.cshtml";
}

@section headContent {}
             
@section Content {
    <div class="content-page-left-nav">
        <div id="side-container">
            @Html.Container(new Container()
            {
                Name = "sub-nav-container",
                Tag = "nav",
                Attributes = new Dictionary<string, string> { { "id", "sub-nav" } },
                Blocks = new List<WebBlocks.Interfaces.IBlock>
                {
                    @*Change this to subnav ID*@
                    @*new ContentBlock(1131)*@
                }
            })

            @Html.Container(new Container
            {
                Name = "aside-container",
                Tag = "aside",
                WysiwygClass = "mceContentBody"
            })
        </div>

        @Html.Container(new Container
        {
            Name = "main-container",
            Tag = "main",
            Attributes = new Dictionary<string, string> { { "id", "main-container" } },
            WysiwygClass = "mceContentBody",
            Blocks = new List<WebBlocks.Interfaces.IBlock>
            {
                new WysiwygBlock { Id = 1, Content = "Enter Content Here" }
            }
        })

    </div>
}]]></Design>
  <Master>Global</Master>
  <Hash>4c1e2bc1a4ce97a4789261d7d055d095</Hash>
</Template>