<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Sub Navigation Block</Name>
    <Alias>SubNavigationBlock</Alias>
    <Icon>icon-indent</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>BlockBase</Master>
    <Compositions>
      <Composition>BlockBase</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>1c632b872d761ec8734514537fa32d48</Hash>
</DocumentType>