<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blocks Folder</Name>
    <Alias>BlocksFolder</Alias>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>BlocksFolder</DocumentType>
    <DocumentType>ContourBlock</DocumentType>
    <DocumentType>FeatureBlock</DocumentType>
    <DocumentType>RelatedLinksBlock</DocumentType>
    <DocumentType>HeadingBlock</DocumentType>
    <DocumentType>HeroSlide</DocumentType>
    <DocumentType>SubNavigationBlock</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>55727e8fd5ad293b788b63c898320d9c</Hash>
</DocumentType>