<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Content Page Full Width</Name>
  <Alias>ContentPageFullWidth</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Global.cshtml";
}

@section headContent {}

@section Content {
    <div class="content-page-full-width">
        @Html.Container(new Container
        {
            Name = "main-container",
            Tag = "main",
            Attributes = new Dictionary<string, string> { { "id", "main-container" } },
            WysiwygClass = "mceContentBody",
            Blocks = new List<WebBlocks.Interfaces.IBlock>
            {
                new WysiwygBlock { Id = 1, Content = "Enter Content Here" }
            }
        })
    </div>
}]]></Design>
  <Master>Global</Master>
  <Hash>76493674eeb53b1f3b9daf6cb74c3d6b</Hash>
</Template>