<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Mentor : Sub Navigation Type" Id="Umbraco.DropDown" Definition="100132a5-2627-4bc5-927a-ec00ab4af16e" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="10" Value="Use above source node as start of menu" Alias="0" SortOrder="0" />
    <PreValue Id="11" Value="Use current page as start of menu" Alias="1" SortOrder="1" />
    <PreValue Id="12" Value="Use root of menu declaration of first parent" Alias="2" SortOrder="2" />
  </PreValues>
  <Hash>f1b7f2a7d8830189357c692d0fca18b4</Hash>
</DataType>