<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Multi Url Picker" Id="RJP.MultiUrlPicker" Definition="5b8a8723-bac9-4774-bc8d-9805a0e47891" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="6" Value="" Alias="minNumberOfItems" SortOrder="0" />
    <PreValue Id="7" Value="" Alias="maxNumberOfItems" SortOrder="1" />
  </PreValues>
  <Hash>917d8b12c13ea731db770d654ad5c22d</Hash>
</DataType>