<?xml version="1.0" encoding="utf-8"?>
<DataType Name="URL Picker" Id="RJP.MultiUrlPicker" Definition="fb0d3fdf-71c5-4c84-8fa4-741c30af35d4" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="8" Value="" Alias="minNumberOfItems" SortOrder="0" />
    <PreValue Id="9" Value="1" Alias="maxNumberOfItems" SortOrder="1" />
  </PreValues>
  <Hash>9efdfef90b215f6b8dc3b8a376d57fe2</Hash>
</DataType>