<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Heading Block</Name>
    <Alias>HeadingBlock</Alias>
    <Icon>icon-credit-card</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>BlockBase</Master>
    <Compositions>
      <Composition>BlockBase</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>bd8dd8abe563b34f771076b80e76b5e9</Hash>
</DocumentType>