@inherits ConcreteContentTypes.Core.ViewTemplates.ConcreteViewPage<Product>
@{
    Layout = "Global.cshtml";
}

@section Content {
    <div class="content-page-full-width">
        @Model.Name
    </div>
}