@inherits Umbraco.Web.Mvc.UmbracoViewPage<GlobalManifesto.Products.Models.ProductRenderModel>
@{
    Layout = "Global.cshtml";
}

@section Content {
    <div class="content-page-full-width">
        @Model.Product.Name
    </div>
}