<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Home Page</Name>
    <Alias>HomePage</Alias>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>WebBlocksPage</Master>
    <Compositions>
      <Composition>WebBlocksPage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>HomePage</Template>
    </AllowedTemplates>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>ContentPage</DocumentType>
    <DocumentType>MirrorLinkPage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Facebook Link</Name>
      <Alias>facebookLink</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Social Media</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Twitter Link</Name>
      <Alias>twitterLink</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Social Media</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>YouTube Link</Name>
      <Alias>youtubeLink</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Social Media</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Top Navigation</Name>
      <Alias>topNavigationLinks</Alias>
      <Type>RJP.MultiUrlPicker</Type>
      <Definition>5b8a8723-bac9-4774-bc8d-9805a0e47891</Definition>
      <Tab>Navigation</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Footer Links</Name>
      <Alias>footerLinks</Alias>
      <Type>RJP.MultiUrlPicker</Type>
      <Definition>5b8a8723-bac9-4774-bc8d-9805a0e47891</Definition>
      <Tab>Navigation</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>18</Id>
      <Caption>Social Media</Caption>
      <SortOrder>97</SortOrder>
      <SortOrder>97</SortOrder>
    </Tab>
    <Tab>
      <Id>20</Id>
      <Caption>Navigation</Caption>
      <SortOrder>2</SortOrder>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
  <Hash>cf7981fda85db989b8cb4a18e1faba00</Hash>
</DocumentType>