<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Content Page</Name>
    <Alias>ContentPage</Alias>
    <Icon>icon-umb-content</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>WebBlocksPage</Master>
    <Compositions>
      <Composition>WebBlocksPage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>ContentPageLeftNav</Template>
      <Template>ContentPageFullWidth</Template>
    </AllowedTemplates>
    <DefaultTemplate>ContentPageLeftNav</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>ContentPage</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>b64ebc28fe86ad1adae2934ba9123706</Hash>
</DocumentType>