<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Web Blocks Page</Name>
    <Alias>WebBlocksPage</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Base</Master>
    <Compositions>
      <Composition>Base</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Web Blocks</Name>
      <Alias>webblocks</Alias>
      <Type>MentorWebBlocks.LayoutBuilder</Type>
      <Definition>c364f0b7-c575-4611-b7b6-5a1fff795b76</Definition>
      <Tab>Web Blocks</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>17</Id>
      <Caption>Web Blocks</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
  <Hash>318f62abb66e8d68c948b55bef47073c</Hash>
</DocumentType>