<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Navigation</Name>
    <Alias>Navigation</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Show In Main Navigation</Name>
      <Alias>showInMainNav</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Navigation</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Hide From Navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Navigation</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>This Is A Root Of A Menu</Name>
      <Alias>thisIsARootOfAMenu</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Navigation</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Hide From Site Map</Name>
      <Alias>hideFromSiteMap</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Navigation</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>14</Id>
      <Caption>Navigation</Caption>
      <SortOrder>98</SortOrder>
      <SortOrder>98</SortOrder>
    </Tab>
  </Tabs>
  <Hash>9082ec21f22ae7059fdda18e0fb0dccb</Hash>
</DocumentType>