<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Mirror Link Page</Name>
  <Alias>MirrorLinkPage</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}


@{    
    // verify that the property "URL" is not null and that it is not empty; then redirect 
    if (CurrentPage.mirrorLink.ToString().Trim() != "")
    {
        Response.Redirect(CurrentPage.mirrorLink.ToString().Trim());
    }
}]]></Design>
  <Hash>c8ae5d12266191bd424d27c3e058459f</Hash>
</Template>